@media (max-width: 620px) {
    .pokemon-slider{
        padding: 0 15px;
        gap: 10px;
    }
    .btn-setas {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-pokemon {
        height: 480px;
        height: 520px;
        position: relative;
    }
    .cartao .imagem-pokemon {
        max-height: 230;
    }
    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;   
    }
    .cartao .informacoes .vida {
        font-size: 14;
    }
    .cartao .informacoes .texto {
        padding: 10px;
}
}